/* This is where my CSS styles are going to go! */
h1{
  text-align: center;
  font-family: 'Chelsea Market', cursive;
}
body{
  background-color: #EF946C;
}
.lead{
  text-align: center;
}
.img{
  height:25px;
  width:50px;
}
.card{
  text-align:center;
}
